@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: var(--border);
  --color-input: var(--border);
  --color-ring: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  
  --font-sans: var(--font-inter);
  
  --shadow-ambient: 0 10px 40px rgba(0, 0, 0, 0.03);
  --shadow-card: 0 4px 24px rgba(0, 0, 0, 0.04);
  --shadow-hover: 0 12px 32px rgba(0, 0, 0, 0.08);
}

:root {
  /* Ultra warm off-white (Alabaster / Paper) */
  --background: #FCFBF9;
  --foreground: #111827;

  --primary: #6366F1;
  --success: #10B981;
  --warning: #F59E0B;
  --danger: #EF4444;

  --border: #F3F4F6;
  
  --radius: 24px; 
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --primary: #6366F1;
  --border: #1e293b;
}

@layer base {
  * {
    @apply border-[var(--border)];
  }
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
